body {
	color: #33CC33;
	background-color: #FFFFC4;
	font-family: monospace;
}
h1 {
	color: #FF0000;
}
h2 {
	color: #0033CC;
}
em {
	font-family: cursive;
	color: #0000FF;
}
z {
	font-family: cursive;
	color: #0000FF;
}
.reason {
	font-family: serif;
	color: #00FF99;
}
.about {
	font-weight: bold;
}
#reason_1 {
	font-family: "Courier New", Courier, monospac;
}
#about {
	font-family: "Times New Roman", Georgia, Serif;
	border-color: #FFFFFF;
}