body {
	color: #33CC33;
	font-family: "Comic Sans MS", cursive, sans-serif;
	border: 2px dashed #000000;
	border-radius: 5px;
	padding: 2px;
}
a:link {
	color: #FA1105;
}
a:visited {
	color: #FA000C;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
div ul:nth-child(2) {
	font-family: Georgia, serif;
}
div ul:last-child {
	font-family: Impact, Charcoal, sans-serif;
}
.main {
	border: 4px solid #000000;
	border-radius: 5px;
	padding: 10px 20px 30px 100px;
	text-align: center;
}
.second {
	border: 3 solid #000000;
	border-radius: 5px;
	padding: 20px;
	display:inline-block;
}
#name {
	color: #000000;
	position: absolute;
}
#header {
	width: 800px;
	height: 100px;
	background-color: #0762F5;
	margin-bottom: 10px;
	position: relative;
}
#wrapper {
	overflow: auto;
}
#side_bar {
	width: 200px;
	height: 500px;
	background-color: #8AC1ED;
	float: left;
	clear: left;
	margin-bottom: 10px;
	
}
#content {
	width: 650px;
	height: 500px;
	background-color: #07F5D5;
	margin: auto;
	float: left;
	position: relative;

}
#footer {
	width: 800px;
	height:80px;
	position: relative;
}
#image {
	width: 500px;
	height: 75%;
}